#flexwrap {
    display: flex;
}
#inspector {
    flex: 0 0 65%; /*left*/
}
#closeinspect {
    white-space: pre-wrap;
    flex: 1; /*right*/

}

.template {
    cursor: pointer;
}
.template.t-active {
    background-color: #00FF0022; /*#0000FF22; /*#FF000022; /*#00FF0022;*/

}
.template.t-inactive {
    background-color: #00000022;

}
#biggest-div {
    display: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}